---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import Prose from "../../components/Prose.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={` - Bibleio`}>
  <div
    class="flex min-h-screen flex-col items-center gap-24 px-256 py-96 text-text max-[1180px]:px-64 max-[800px]:p-16"
  >
    <div class="flex flex-wrap justify-center gap-32">
      <p class="text-body leading-none">by </p>
      <time
        class="text-body leading-none"
      >
      </time>
    </div>
    <h1
      class="mb-48 w-full text-center text-[4rem]  leading-none max-[1350px]:text-[64px] max-[460px]:text-[48px]"
    >
    </h1>
    <div class="w-full max-w-[32rem] leading-[220%]">
      <Prose><div /></Prose>
    </div>
  </div>
</Layout>
