@import "@bibleio/design/src/tailwind.css";
@source "../../../../packages/design/src/components";

@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";

@layer components {
  .bible-content {
    line-height: var(--bible-line-height, 220%);
    color: var(--color-text);

    span {
      font-size: var(--bible-text-size, 0.95rem);
    }
    .heading {
      font-size: var(--bible-heading-size, 1.1875rem);
      line-height: 150%;
      margin-top: 1rem;
    }
    .subtitle {
      font-size: var(--bible-subtitle-size, 0.875rem);
      line-height: 150%;
      margin-top: 1rem;
    }
    span.verseNumber {
      font-size: var(--text-sub);
      color: --alpha(var(--color-text) / 70%);
      font-family: var(--font-mono);
    }
    span.wj {
      color: var(--words-of-jesus-color, var(--color-red-reversed));
    }
  }
}
