---
import { getCollection } from "astro:content";
import Prose from "@/Prose.astro";
import DocsLayout from "@layouts/DocsLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";

const designDocs = await getCollection("design");

export async function getStaticPaths() {
	const designDocs = await getCollection("design");
	return designDocs.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <DocsLayout docs={designDocs} projectSlug="design">
    <Prose>
      <h1 class="text-h1">{entry.data.title}</h1>
      <Content /></Prose
    >
  </DocsLayout>
</MainLayout>
