
---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const pages = await getCollection("handbook", ({ data }) => {
	// Exclude drafts in prod
	return import.meta.env.PROD ? data.properties.draft.checkbox !== true : true;
});
const authors = await getCollection("team");

const formattedPages = pages.map((blog: CollectionEntry<"handbook">) => ({
	slug: blog.data.properties.slug.rich_text[0].plain_text,
	title: blog.data.properties.Name.title[0].plain_text,
	lastUpdated: new Date(blog.data.properties.lastUpdated.date?.start ?? ""),
	category: blog.data.properties.category.select?.name,
	authors: blog.data.properties.author.people.map((person: { id: string }) => {
		const matchedAuthor = authors.find(
			(author: CollectionEntry<"team">) =>
				author.data.notionUserId === person.id,
		);
		return matchedAuthor ? matchedAuthor.data.name : "Unknown";
	}),
}));

const pagesByCategory = formattedPages.reduce(
	(acc, page) => {
		const category = page.category || "Uncategorized";
		if (!acc[category]) {
			acc[category] = [];
		}
		acc[category].push(page);
		return acc;
	},
	{} as Record<string, typeof formattedPages>,
);
---

<Layout title="Handbook">
  <section id="main" class="flex gap-12 px-256 text-text min-h-screen pt-96 pb-64">
    <div id="sidebar" class="flex flex-col gap-20 w-[16rem]">
      <Image class="rounded-8 border border-stroke aspect-[2/3] w-[8.75rem] h-auto" alt={"handbook cover"} width={280} height={420} src={"/handbook/handbook-org.png"} />
      <h2 class="text-h2">Handbook</h2>
      {Object.entries(pagesByCategory).map(([category, pages]) => (
        <div class="flex flex-col gap-0 w-full">
          <div class="flex pl-[14px] pb-6"><p class="text-body text-text opacity-75 capitalize">{category}</p></div>
          <div class="flex flex-col gap-0">
            {pages.map((page) => (
              <a
                href={`/handbook/${page.slug}`}
                class="px-12 py-8 rounded-12"
              >
                <p class="text-body">{page.title}</p>
              </a>
            ))}
          </div>
        </div>
      ))}
    </div>
    <div id="content" class="bg-fg-1 border border-stroke rounded-16 w-full h-fit min-h-screen flex flex-col p-32 gap-24 items-center">
      <div class="max-w-[32rem] w-full">
      <p class="text-body leading-[200%]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales.
      </p>
      </div>
    </div>
  </section>
</Layout>
