---
import Sidebar from "../components/docs/Sidebar";
const { docs, projectSlug } = Astro.props;
---

<div class="flex min-h-screen gap-24 px-256 pb-48">
  <Sidebar
    currentSlug={Astro.url.pathname}
    projectSlug={projectSlug}
    client:load
    docs={docs}
  />
  <div class="w-full rounded-16 border border-stroke bg-fg-1 backdrop-blur-popup px-256 py-32">
    <slot />
  </div>
</div>
