---
import { Badge, Button } from "@bibleio/design";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Home"
  ><script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    document.addEventListener('DOMContentLoaded', () => {
      gsap.from('.text-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.7,
        stagger: 0.05,
        ease: 'power4.out',
      });
      gsap.from('.blob-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.4,
        ease: 'power4.out',
      });
    });
  </script>
  <section
    id="landing"
    class="flex h-[93vh] flex-col items-center justify-center gap-48 overflow-clip px-24 py-32"
  >
    <h1
      class="text-animate text-center text-[12rem] leading-none max-[1100px]:text-[8rem] max-[680px]:text-[6rem] max-[500px]:text-[4rem]"
    >
      BibleJSON
    </h1>
    <p class="text-animate text-center text-body leading-[200%]">
      Our standard for formating biblical texts with JSON. Includes docs and an
      html2biblejson converter.
    </p>
    <a href="/biblejson/docs"><Button>Docs</Button></a>
    <div
      class="blob-animate absolute -z-50 h-[50vw] w-[40vw] animate-spin-slow rounded-full bg-blue blur-[9vmin]"
    >
    </div>
  </section>
  <section
    id="products"
    class="border-t border-stroke px-256 max-[1300px]:px-0"
  >
    <div class="flex flex-col divide-y divide-stroke border-x border-stroke">
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24">
        <h2 class="text-h1">About</h2>
        <p class="text-body leading-[220%]">
          BibleJSON is a formatting standard for storing biblical texts in the
          JSON format. It aims to be the standard from now own for all Bible
          technology, for 1 easy universal solution.
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24">
        <h2 class="text-h1">Formatting</h2>
        <p class="text-body leading-[220%]">
          You can store texts with formatting, red lettering, footnotes, or no
          formatting at all.
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24">
        <h2 class="text-h1">Organization</h2>
        <p class="text-body leading-[220%]">
          Each chapter JSON file includes metadata about that translation,
          books, the certain chapter, and more.
        </p>
      </div>

      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24 max-[800px]:pb-72">
        <h2 class="text-h1">Migrate</h2>
        <p class="text-body leading-[220%]">
          Convert thousands of Bible HTML files, into BibleJSON with our
          converter script written in Rust btw. More formats will be avaliable
          soon.
        </p>
        <div class="flex gap-12">
          <a href="https://github.com/bibleio/api#biblejson"
            ><Button>GitHub</Button></a
          >
          <a href="/biblejson/docs"><Button variant="secondary">Docs</Button></a
          >
        </div>
      </div>
    </div>
  </section>
</MainLayout>
