---
import Layout from "~/layouts/Layout.astro";
import MainSection from "~/layouts/MainSection.astro";
---

<Layout title="Home">
  <MainSection>
    <div class="h-screen flex flex-col justify-center gap-32 p-32">
      <h1
        class="z-20 text-[10rem] leading-none italic text-red-reversed max-[400px]:text-[6rem]"
      >
        404
      </h1>
      <p class="z-20 text-body leading-[180%] text-text">
        You seem lost. Here's some good news:
      </p>
      <p class="z-20 text-body leading-[180%] text-text">
        Luke 19:10 <i>For the Son of Man came to seek and to save the lost.</i>
      </p>
      <div class="absolute left-0 top-0 -z-50 h-full w-full">
        <div
          class="absolute -left-[15%] top-[-10%] h-[39vw] w-[30vw] animate-spin-slow rounded-full bg-red blur-[15vmin] motion-preset-fade-lg"
        >
        </div>
      </div>
    </div>
  </MainSection>
</Layout>
