---
import Layout from "~/layouts/Layout.astro";
import { MainSection } from "@bibleio/design";
---

<Layout title="Home">
  <MainSection>
    <div class="flex h-screen flex-col justify-center gap-32 p-32">
      <h1
        class="text-red-reversed z-20 text-[10rem] italic leading-none max-[400px]:text-[6rem]"
      >
        404
      </h1>
      <p class="text-body text-text z-20 leading-[180%]">
        You seem lost. Here's some good news:
      </p>
      <p class="text-body text-text z-20 leading-[180%]">
        Luke 19:10 <i>For the Son of Man came to seek and to save the lost.</i>
      </p>
      <div class="absolute left-0 top-0 -z-50 h-full w-full">
        <div
          class="animate-spin-slow bg-red motion-preset-fade-lg absolute -left-[15%] top-[-10%] h-[39vw] w-[30vw] rounded-full blur-[15vmin]"
        >
        </div>
      </div>
    </div>
  </MainSection>
</Layout>
