---
import { Image } from "astro:assets";
import {
	Badge,
	Bible,
	Button,
	Circle,
	// shapes
	Cross,
	Hexagon,
	Star,
	Triangle,
} from "@bibleio/design";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apps">
  <section id="main" class="flex flex-col px-256 max-[1550px]:px-0">
    <div
      id="container"
      class="flex flex-col gap-64 border-x border-stroke p-128 max-[680px]:px-16"
    >
      <code class="font-mono text-body text-text">README.md</code>
      <h1 class="font-mono text-h1 text-text"># About</h1>
      <p class="text-body leading-[220%] text-text">
        Bibleio is a Christian organization based on making innovative, modern
        free and open-source Bible and ministry software.
      </p>
      <h1 class="font-mono text-h1 text-text"># Why</h1>
      <p class="text-body leading-[220%] text-text">
        The Bible industry is full of copyright, paid software and restrictions.
        The software we have is old, outdated, restricted or paid. The world
        needs modern, free use Bible and ministry technology.
      </p>
      <h1 class="font-mono text-h1 text-text"># Manifesto</h1>
      <p class="text-body leading-[220%] text-text">
        Jesus tells us in Matthew 10:8, “Freely you received; freely give.” And no one followed that. Today, Bibles get commericalized and restricted online. When accessing translations online should be free, it actually isn't. We don't have much variety in Bible software, or any modern apps. Sure, what we have is good enough, but it can be better. We wan't to make something better, and amazing, for God.
      </p>
      <h1 class="font-mono text-h1 text-text"># Team</h1>
      <div class="grid grid-cols-2 max-[680px]:grid-cols-1">
        <div
          class="flex flex-col gap-16 rounded-12 border border-stroke bg-fg-1 p-32"
        >
          <a
            href="https://dukc.dev"
            class="group flex items-center gap-12 duration-150 ease-out hover:text-accent-reversed"
          >
            <img
              src="/pfps/dukc.png"
              alt="dukc pfp"
              class="size-48 rounded-full"
            />
            <h3
              class="text-h3 text-text duration-150 ease-out group-hover:text-accent-reversed"
            >
              Jacob Ehlert
            </h3>
            <svg
              width="1.5rem"
              height="1.5rem"
              viewBox="0 0 24 24"
              fill="none"
              stroke-opacity="0.9"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-text duration-150 ease-out group-hover:rotate-45 group-hover:text-accent-reversed"
            >
              <path d="M17 7L7 17M17 7H8M17 7V16"> </path>
            </svg>
          </a>
          <p class="text-sub text-text">Founder</p>
          <p class="text-body text-text">
          Also known as dukc, Jacob loves making things and Jesus
          </p>
        </div>
      </div>
      <a
        href="https://cat-skate-e91.notion.site/Onboarding-132aafe2ea3c800ab45ddbe0a5db3da8?pvs=4"
      >
        <Button variant="secondary">Join us or contribute</Button>
      </a>
    </div>
  </section>
</Layout>
