---
import { Badge, Button } from "@bibleio/design";
import Layout from "~/layouts/Layout.astro";
import { MainSection } from "@bibleio/design";
---

<Layout title="Home">
  <section
    id="landing"
    class="border-stroke relative flex h-screen flex-col items-center overflow-clip border-b p-32"
  >
    <div
      class="flex h-full w-full max-w-[100rem] flex-col justify-center gap-32"
    >
      <h1
        class="motion-preset-slide-up-sm text-text-solid pt-72 text-left text-[192px] leading-none max-[1400px]:text-[96px] max-[530px]:text-[48px]"
      >
        Why <br /> believe?
      </h1>
      <h3
        class="motion-preset-fade-lg text-h3 text-text max-[1000px]:text-body leading-[150%]"
      >
        Why believe in God, or that Jesus is God?
      </h3>
    </div>
    <div class="absolute left-0 top-0 -z-50 h-full w-full">
      <div
        class="motion-preset-fade-lg animate-spin-slow bg-lime absolute -top-1/2 left-[20%] h-[49vw] w-[40vw] rounded-full blur-[15vmin]"
      >
      </div>
      <div
        class="motion-preset-fade-lg animate-spin-slow bg-teal absolute -bottom-1/2 left-[50%] h-[49vw] w-[45vw] rounded-full blur-[15vmin]"
      >
      </div>
      <div
        class="motion-preset-fade-lg animate-spin-slow bg-purple absolute left-[-15%] top-0 h-[49vw] w-[40vw] rounded-full blur-[15vmin]"
      >
      </div>
    </div>
  </section>
  <MainSection>
    <div id="why" class="px-128 flex flex-col gap-24 p-48 max-[800px]:px-16">
      <Badge variant="yellow">Version 0.1-alpha</Badge>
      <p class="text-body leading-[200%]">
        We plan to make this more engaging, and more nice looking.
      </p>
      <p class="text-body leading-[200%]">
        <h4 class="text-h4">How God Exists</h4> Ever think about how the universe
        started? It had a beginning, right? That means it had to have a creator.
        Think about a building. If you saw one, would you believe it had a builder?
        Of course! The building's right there. Someone had to make it. It's the same
        with the universe. We see it, we know it began, so there HAS to be a Creator.

        <h4 class="text-h4">Sin</h4> Okay, so humans messed up in the beginning.
        And we all still do. Have you ever lied? Been disrespectful? Sworn? Yeah,
        we all have. And God judges us on those things. So, if He judged you right
        now, would you be innocent or guilty?

        <h4 class="text-h4">Guilty</h4> Guilty, right? So would we deserve a punishment
        or a reward? Punishment. Sounds like heaven or hell? Hell. And hell is a
        terrible place. Fire, suffering, constant pain, forever. Because you have
        to pay for your sins.

        <h4 class="text-h4">There's a Way Out</h4> So, you need someone to pay that
        hell price for you. Someone willing to sacrifice themselves. Get it? That
        was Jesus! That's why He was beaten, slapped, mocked, whipped, tortured,
        forced to carry a heavy cross, and nailed to it. Then He ROSE from the dead
        three days later! Jesus did all that for YOU, because someone else had to
        pay for the sins we have committed. That's how much He loves you. He sacrificed
        His life so you sdon't have to suffer in hell. He paid the price!

        <h4 class="text-h4">Price Paid</h4> Jesus offers that as a free gift. But
        you have to accept it. Believe in your heart that Jesus already paid for
        your sins. Not your good deeds, not baptism, not praying or going to church.
        Jesus paid the price. Nothing and no one else.

        <h4 class="text-h4">Life Changed</h4> Now that He saved you from hell, do
        you want to punch Him in the face or serve Him? You'd want to please Him,
        serve Him, and try your best not to sin. We're all sinners, but with God,
        we can beat sin. He'll show you when you mess up, and you should turn away
        from it. Remember, if you trust in Jesus, you're covered. No sin can take
        away your salvation. Just try to get back up and turn away from the bad stuff.

        <h4 class="text-h4">Grow</h4> To grow as a Christian, read the Bible! Start
        with the New Testament, from beginning to end. You'll learn a ton! Try to
        read it every day. It's like food for your soul. And pray. It's just talking
        to God. Thank Him, praise Him, pray for others, and pray for yourself to
        grow and for your needs. But remember, God isn't a genie. Find a good church
        that teaches from the Bible if you're ready. And share this message! Ask
        your family and friends why they think they'll go to heaven. What would they
        say?
      </p>

      <p class="text-body leading-[220%]">
        <h3 class="text-h3">Common Objections</h3>
        <h4 class="text-h4">Why does God allow suffering if He's good?</h4> God told
        us in the beginning to obey Him, or bad stuff would happen. We disobeyed.
        So what happened? Bad stuff! Death, sickness, sin, wanting to hurt each other.
        We have free will. We're the ones choosing to do bad things to eachother.

        <h4 class="text-h4">
          Eternal suffering in hell for some sins is unfair!
        </h4> It's not just "some sins." Any sin is a huge deal to God. He's the
        holiest being in existence. And one of the worst things you can do is reject
        Jesus' free gift. It's worth infinity – eternal life! If you reject that,
        you get infinite - eternal punishment. It was your choice. And you still
        have the choice to take Jesus right now! We're all headed to hell. But we
        don't have to! Jesus already paid the price.
      </p>

      <h3 class="text-h3">Talk with us</h3>

      <p class="text-body leading-[220%]">
        Have any questions, comments, objections? Talk with us in the Discord or
        contact us. (<a
          href="/contact"
          class="hover:text-accent-reversed underline duration-150 ease-out"
          >here</a
        >)
      </p>
    </div>
  </MainSection>
</Layout>
