---
import { Bible, Circle, Cross, Logo } from "@bibleio/design";
---

<div
  class="p-48 rounded-16 border border-stroke flex justify-between items-center overflow-clip relative max-[880px]:hidden"
>
  <div class="grid grid-rows-4 w-[23rem] gap-16">
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">Design</h4>
      <p class="text-body leading-[200%]">
        Consistent beautiful design sytem and intuitive app designs.
      </p>
    </div>
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">Customizablity</h4>
      <p class="text-body leading-[200%]">
        Make Bibleio yours, customize and share your Bible and resources.
      </p>
    </div>
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">
        Performance & Security
      </h4>
      <p class="text-body leading-[200%]">
        Blazingly fast performance with secure user managment.
      </p>
    </div>
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">
        Innovation & Freedom
      </h4>
      <p class="text-body leading-[200%]">
        Let’s change the world of Bible software.
      </p>
    </div>
  </div>

  <div
    class="mr-200 size-[5rem] backdrop-blur-popup rounded-full bg-fg-1 border border-stroke flex items-center justify-center"
  >
    <Logo size={38} />
  </div>

  <svg
    fill="none"
    class="absolute top-0 left-0 w-full h-full -z-50 max-[1145px]:hidden"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="77%"
      y1="308.473"
      x2="25%"
      y2="107.473"
      class="stroke stroke-stroke"
    />
    <line
      x1="77%"
      y1="308.497"
      x2="25%"
      y2="241.497"
      class="stroke stroke-stroke"
    />
    <line
      x1="77%"
      y1="308.497"
      x2="25%"
      y2="375.497"
      class="stroke stroke-stroke"
    />
    <line
      x1="77%"
      y1="308.473"
      x2="25%"
      y2="512.473"
      class="stroke stroke-stroke"
    />
  </svg>
  <svg
    fill="none"
    class="absolute top-0 left-0 w-full h-full -z-50 min-[1145px]:hidden max-[985px]:hidden"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="70%"
      y1="308.473"
      x2="38%"
      y2="107.473"
      class="stroke stroke-stroke"
    />
    <line
      x1="70%"
      y1="308.497"
      x2="38%"
      y2="241.497"
      class="stroke stroke-stroke"
    />
    <line
      x1="70%"
      y1="308.497"
      x2="38%"
      y2="375.497"
      class="stroke stroke-stroke"
    />
    <line
      x1="70%"
      y1="308.473"
      x2="38%"
      y2="512.473"
      class="stroke stroke-stroke"
    />
  </svg>
  <svg
    fill="none"
    class="absolute top-0 left-0 w-full h-full -z-50 min-[985px]:hidden"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="65%"
      y1="308.473"
      x2="45%"
      y2="107.473"
      class="stroke stroke-stroke"
    />
    <line
      x1="65%"
      y1="308.497"
      x2="45%"
      y2="241.497"
      class="stroke stroke-stroke"
    />
    <line
      x1="65%"
      y1="308.497"
      x2="45%"
      y2="375.497"
      class="stroke stroke-stroke"
    />
    <line
      x1="65%"
      y1="308.473"
      x2="45%"
      y2="512.473"
      class="stroke stroke-stroke"
    />
  </svg>

  <div class="absolute -z-50 -right-64 flex flex-col gap-72 items-center">
    <Bible />
    <Circle />
    <Cross />
  </div>
</div>

<!-- mobile -->

<div
  class="p-8 gap-24 rounded-24 border border-stroke flex flex-col justify-between items-center overflow-clip relative min-[880px]:hidden"
>
  <div class="grid grid-cols-4 w-full gap-8 max-[735px]:grid-cols-2 max-[450px]:grid-cols-1">
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">Design</h4>
      <p class="text-body leading-[200%]">
        Consistent beautiful design sytem and intuitive app designs.
      </p>
    </div>
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">Customizablity</h4>
      <p class="text-body leading-[200%]">
        Make Bibleio yours, customize and share your Bible and resources.
      </p>
    </div>
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">
        Performance & Security
      </h4>
      <p class="text-body leading-[200%]">
        Blazingly fast performance with secure user managment.
      </p>
    </div>
    <div
      class="rounded-16 border border-stroke bg-fg-1 p-16 flex flex-col gap-6 backdrop-blur-popup"
    >
      <h4 class="text-mono font-mono text-accent-reversed">
        Innovation & Freedom
      </h4>
      <p class="text-body leading-[200%]">
        Let’s change the world of Bible software.
      </p>
    </div>
  </div>

  <div
    class="size-[5rem] backdrop-blur-popup rounded-full bg-fg-1 border border-stroke flex items-center justify-center"
  >
    <Logo size={38} />
  </div>
</div>
