---
import { Bible, Circle, Cross, Logo } from "@bibleio/design";
---

<div
  class="rounded-16 border-stroke relative flex items-center justify-between overflow-clip border p-48 max-[880px]:hidden"
>
  <div class="grid w-[23rem] grid-rows-4 gap-16">
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">Design</h4>
      <p class="text-body leading-[200%]">
        Consistent beautiful design sytem and intuitive app designs.
      </p>
    </div>
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">Customizablity</h4>
      <p class="text-body leading-[200%]">
        Make Bibleio yours, customize and share your Bible and resources.
      </p>
    </div>
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">
        Performance & Security
      </h4>
      <p class="text-body leading-[200%]">
        Blazingly fast performance with secure user managment.
      </p>
    </div>
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">
        Innovation & Freedom
      </h4>
      <p class="text-body leading-[200%]">
        Let’s change the world of Bible software.
      </p>
    </div>
  </div>

  <div
    class="mr-200 backdrop-blur-popup bg-fg-1 border-stroke flex size-[5rem] items-center justify-center rounded-full border"
  >
    <Logo size={38} />
  </div>

  <svg
    fill="none"
    class="absolute left-0 top-0 -z-50 h-full w-full max-[1145px]:hidden"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="77%"
      y1="308.473"
      x2="25%"
      y2="107.473"
      class="stroke stroke-stroke"></line>
    <line
      x1="77%"
      y1="308.497"
      x2="25%"
      y2="241.497"
      class="stroke stroke-stroke"></line>
    <line
      x1="77%"
      y1="308.497"
      x2="25%"
      y2="375.497"
      class="stroke stroke-stroke"></line>
    <line
      x1="77%"
      y1="308.473"
      x2="25%"
      y2="512.473"
      class="stroke stroke-stroke"></line>
  </svg>
  <svg
    fill="none"
    class="absolute left-0 top-0 -z-50 h-full w-full max-[985px]:hidden min-[1145px]:hidden"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="70%"
      y1="308.473"
      x2="38%"
      y2="107.473"
      class="stroke stroke-stroke"></line>
    <line
      x1="70%"
      y1="308.497"
      x2="38%"
      y2="241.497"
      class="stroke stroke-stroke"></line>
    <line
      x1="70%"
      y1="308.497"
      x2="38%"
      y2="375.497"
      class="stroke stroke-stroke"></line>
    <line
      x1="70%"
      y1="308.473"
      x2="38%"
      y2="512.473"
      class="stroke stroke-stroke"></line>
  </svg>
  <svg
    fill="none"
    class="absolute left-0 top-0 -z-50 h-full w-full min-[985px]:hidden"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="65%"
      y1="308.473"
      x2="45%"
      y2="107.473"
      class="stroke stroke-stroke"></line>
    <line
      x1="65%"
      y1="308.497"
      x2="45%"
      y2="241.497"
      class="stroke stroke-stroke"></line>
    <line
      x1="65%"
      y1="308.497"
      x2="45%"
      y2="375.497"
      class="stroke stroke-stroke"></line>
    <line
      x1="65%"
      y1="308.473"
      x2="45%"
      y2="512.473"
      class="stroke stroke-stroke"></line>
  </svg>

  <div class="absolute -right-64 -z-50 flex flex-col items-center gap-72">
    <Bible />
    <Circle />
    <Cross />
  </div>
</div>

<!-- mobile -->

<div
  class="rounded-24 border-stroke relative flex flex-col items-center justify-between gap-24 overflow-clip border p-8 min-[880px]:hidden"
>
  <div
    class="grid w-full grid-cols-4 gap-8 max-[735px]:grid-cols-2 max-[450px]:grid-cols-1"
  >
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">Design</h4>
      <p class="text-body leading-[200%]">
        Consistent beautiful design sytem and intuitive app designs.
      </p>
    </div>
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">Customizablity</h4>
      <p class="text-body leading-[200%]">
        Make Bibleio yours, customize and share your Bible and resources.
      </p>
    </div>
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">
        Performance & Security
      </h4>
      <p class="text-body leading-[200%]">
        Blazingly fast performance with secure user managment.
      </p>
    </div>
    <div
      class="rounded-16 border-stroke bg-fg-1 backdrop-blur-popup flex flex-col gap-6 border p-16"
    >
      <h4 class="text-mono text-accent-reversed font-mono">
        Innovation & Freedom
      </h4>
      <p class="text-body leading-[200%]">
        Let’s change the world of Bible software.
      </p>
    </div>
  </div>

  <div
    class="backdrop-blur-popup bg-fg-1 border-stroke flex size-[5rem] items-center justify-center rounded-full border"
  >
    <Logo size={38} />
  </div>
</div>
