---
import { Button } from '@bibleio/design';
import Layout from '../layouts/Layout.astro';

import User from '@/components/icons/User.astro';
---

<Layout title="Home">
  <section
    id="landing"
    class="relative flex h-screen flex-col items-start justify-center gap-48 overflow-clip border-b border-stroke p-128 max-[480px]:p-16"
  >
    <h1
      class="animate-scale-in pt-72 text-left text-[150px] leading-none text-text-solid max-[1280px]:text-[8rem] max-[480px]:text-[5.75rem]"
    >
      Give your rights for the gospel
    </h1>
    <h3 class="animate-scale-in text-h3 leading-none text-text">
      Do you create Christian resources? Jesus calls us to freely give them.
    </h3>
    <div class="absolute left-0 top-0 -z-50 h-full w-full">
      <div
        class="absolute left-1/2 top-[-50%] h-[49vw] w-[40vw] animate-spin-slow rounded-full bg-yellow blur-[50vmin]"
      >
      </div>
      <div
        class="absolute bottom-[-15%] right-[-20%] h-[49vw] w-[45vw] animate-spin-slow rounded-full bg-green blur-[50vmin]"
      >
      </div>
      <div
        class="absolute bottom-[-50%] left-[20%] h-[49vw] w-[40vw] animate-spin-slow rounded-full bg-purple blur-[50vmin]"
      >
      </div>
    </div>
  </section>
  <section id="main" class="flex flex-col px-256">
    <div id="container" class="divide-y divide-stroke border-x border-stroke">
      <div
        class="flex w-full items-center justify-center gap-24 overflow-hidden px-32 py-32"
      >
        <h1 class="text-h1 leading-none text-text">What, why?</h1>
      </div>

      <div id="why" class="grid grid-cols-2 grid-rows-2">
        <div
          class="relative flex flex-col gap-24 overflow-clip border-b border-r border-stroke p-48"
        >
          <h2 class="text-h2 leading-none text-text">Why freely give?</h2>
          <p class="text-body leading-[220%] text-text">
            Jesus says in Mat 10:8, <span class="text-body text-accent-reversed"
              >“Freely you received; freely give.”</span
            > We freely recieve so much, including our own salvation, so Jesus calls
            us to freely give too. The rest of the Bible never tells us we should
            commercialize ministry or restrict it (2 Cor 2:17), it tells us the opposite
            (1 Peter 5:2). Jesus freely gives his gift of salvation, Paul always
            freely gave (1 Cor 9:18), and the Bible warns against serving money so
            many times (Luk 16:13).
          </p>
        </div>
        <div
          class="relative flex flex-col gap-24 overflow-clip border-b border-stroke p-48"
        >
          <h2 class="text-h2 leading-none text-text">The problem</h2>
          <p class="text-body leading-[220%] text-text">
            Paywalls and copyright affect how the gospel can be spread. So many
            Christian resources have paywalls or copyright restrictions,
            including some huge popular Bible translations, books, devotionals,
            songs, all restricted under copyright or paywalls, so either you
            have to pay, or get restricted permission to worship and spread the
            gospel, and if you can’t, too bad.
          </p>
        </div>
        <div
          class="relative flex flex-col gap-24 overflow-clip border-r border-stroke p-48"
        >
          <h2 class="text-h2 leading-none text-text">More problems</h2><ul
            class="list-disc"
          >
            <li class="text-body leading-[220%] text-text">
              The Bible (popular translations or niche language translations)
              belong to a group of big companies who heavily restrict its use
            </li>
            <li class="text-body leading-[220%] text-text">
              While most of the world has a Bible translation, less than half of
              the world has one they can legally share
            </li>
            <li class="text-body leading-[220%] text-text">
              Other languages cannot translate popular copyrighted English
              resources
            </li>
            <li class="text-body leading-[220%] text-text">
              Churches cannot sing to God without paying music royalties or
              getting permission first
            </li>
            <li class="text-body leading-[220%] text-text">
              Lot’s of popular authors, pastors, and organizations put a paywall
              or copyright on their Christian resources
            </li>
          </ul>
          <p class="text-body leading-[220%] text-text">
            And this sucks, especially for digital intellectual property (like a
            Bible translation, or book), where freely giving it would cost
            nothing to the organization or person, yet most resources are still
            copyrighted/paid.
          </p>
        </div>
        <div
          class="relative flex flex-col gap-24 overflow-clip border-stroke p-48"
        >
          <h2 class="text-h2 leading-none text-text">
            Paywalls block potential users
          </h2>
          <p class="text-body leading-[220%] text-text">
            Christian resources are meant to benefit God's kingdom, so we should
            freely give it to the entire kingdom of God, and consider other
            methods of funding or publishing.
          </p>
          <div
            class="grid grid-cols-2 gap-16 rounded-16 border border-stroke bg-fg-1 p-24"
          >
            <div class="flex flex-col gap-12">
              <div class="grid grid-cols-6 grid-rows-3 gap-10">
                <User className="text-red-reversed" aria-label="a paid user" />
                <User className="text-red-reversed" aria-label="a paid user" />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
                <User
                  className="text-text opacity-33"
                  aria-label="an upaid user, no access"
                />
              </div>
              <h4 class="text-h4 text-text">10% pay</h4>
              <h4 class="text-h4 text-red-reversed">10% have access</h4>
            </div>
            <div class="flex flex-col gap-12">
              <div class="grid grid-cols-6 grid-rows-3 gap-10">
                <User
                  className="text-green-reversed"
                  aria-label="a donating user"
                />
                <User
                  className="text-green-reversed"
                  aria-label="a donating user"
                />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
                <User className="text-text" aria-label="an normal user" />
              </div>
              <h4 class="text-h4 text-text">10% donate</h4>
              <h4 class="text-h4 text-green-reversed">100% have access</h4>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex w-full items-center justify-center gap-24 overflow-hidden px-32 py-32"
      >
        <h1 class="whitespace-nowrap text-h1 leading-none text-text">
          Learn more & free your resource
        </h1>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center gap-16 overflow-hidden px-256 py-48"
      >
        <p class="text-center text-body leading-[220%] text-text">
          Dedicate your work to the public domain, so anyone can use or share it
          in any way. If you need money to produce, or run your resource, rely
          on donations, or only charge for the production cost. Learn more about
          freeing your resources or funding at
          <a
            href="https://copy.church"
            class="text-body text-text underline duration-150 ease-out hover:text-accent-reversed"
          >
            copy.church.
          </a>
        </p>
        <p class="text-center text-body leading-[220%] text-text">
          The <a
            href="https://copy.church"
            class="text-body underline duration-150 ease-out hover:text-accent-reversed"
          >
            copy.church
          </a> website was the main inspiration of this page. You can learn way more
          about this topic, and get answers to some of your questions there.
        </p>
        <a href="https://copy.church">
          <Button variant="success">Free your resource at copy.church</Button>
        </a>
      </div>
    </div>
  </section>
</Layout>
