---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home"
  ><section
    id="landing"
    class="relative flex h-[94vh] flex-col items-start justify-end gap-24 overflow-clip border-b border-stroke p-32 max-[480px]:p-16"
  >
    <h1
      class="text-[24rem] italic leading-none text-text max-[1280px]:text-[8rem] max-[480px]:text-[5.75rem]"
    >
      Bibleio
    </h1>
    <p class="text-body leading-none text-text">
      Innovating the industry of Bible technology.
    </p>
    <div class="absolute -z-50 h-full w-full">a</div>
  </section><section id="main" class="flex flex-col px-256">
    <div id="container" class="divide-y divide-stroke border-x border-stroke">
      <div class="flex w-full items-center justify-center px-32 py-32">
        <h1 class="text-h1 text-text">Innovation for Christ</h1>c
      </div>
    </div>
  </section></Layout
>
