---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/sections/Landing";
import { Image } from "astro:assets";
import ProductCarousel from "../components/sections/ProductsCarousel";
import { Button } from "@bibleio/design";
---

<Layout title="Home - Bibleio">
  <Landing client:load />
  <div id="products" class="p-32 border-b border-b-black">
    <ProductCarousel client:load />
  </div>
  <div class="flex flex-col gap-24 items-center justify-center p-72">
    <h1 class="italic text-[128px] leading-none">About</h1>
    <h4 class="text-h4">Bibleio is in alpha. Not feature complete.</h4>
    <div class="grid grid-cols-2 w-[800px] gap-24">
      <p class="text-body leading-[220%]">
        Bibleio is a ministry organization based on innovating the industry of
        Bible technology, with design, and modern features. We want the Bible to
        be accessible to everyone online, and that includes developers! We want
        to include accessability features, reading features, and more in the
        future.
      </p>
      <p class="text-body leading-[220%]">
        All of Bibleio’s products are free, open-source, licensed under GPL-3.
        All of our backends are written in Rust. We prioritize design, security,
        privacy, and freedom. We have so many plans for Bibleio, such as a
        mobile app, desktop app, Discord bot, CLI, testimony sharing, a free
        Bible API featuring major translations, and even more! View the full
        to-do list of ideas on Notion.
      </p>
    </div>
    <div class="flex gap-12">
      <a
        href="https://dukc.notion.site/Bibleio-781f29eb2433420d8dbd98feaa584237?pvs=74"
        target="_blank"
      >
        <Button variant="primary"> Notion </Button>
      </a>
      <a href="https://github.com/bibleio" target="_blank">
        <Button variant="secondary">GitHub</Button>
      </a>

      <a href="https://discord.gg/7eVCyQ5GGb" target="_blank">
        <Button variant="secondary">Discord </Button>
      </a>
    </div>
  </div></Layout
>
