---
import MainLayout from '@layouts/MainLayout.astro';
import { Button } from '@bibleio/design';
---

<MainLayout title="Home"
  ><script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    document.addEventListener('DOMContentLoaded', () => {
      gsap.from('.text-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.7,
        stagger: 0.05,
        ease: 'power4.out',
      });
      gsap.from('.blob-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.4,
        ease: 'power4.out',
      });
    });
  </script>
  <section
    id="landing"
    class="flex h-[93vh] flex-col items-center justify-center gap-48 overflow-clip px-64 py-32"
  >
    <div class="flex flex-col gap-0">
      <h1
        class="text-animate text-center text-[12rem] leading-none max-[1200px]:text-[6rem] max-[560px]:text-[4rem]"
      >
        Bibleio
      </h1>
      <h1
        class="text-animate text-center text-[12rem] leading-none max-[1200px]:text-[6rem] max-[560px]:text-[4rem]"
      >
        Developers
      </h1>
    </div>
    <p class="text-animate text-center text-body leading-[200%]">
      Explore our open-source Bible technology, and design system.
    </p>
    <div
      class="blob-animate absolute -z-50 h-[35vw] w-[40vw] animate-spin-slow rounded-full bg-blue blur-[9vmin]"
    >
    </div>
  </section>
  <section
    id="products"
    class="border-t border-stroke px-256 max-[1300px]:px-0"
  >
    <div
      class="divide grid grid-cols-2 divide-stroke border-x border-stroke max-[850px]:grid-cols-1"
    >
      <div
        class="flex flex-col gap-24 border-b border-r border-stroke p-48 max-[800px]:p-24"
      >
        <h2 class="text-h2">API</h2>
        <p class="text-body leading-[220%]">
          A free, open-source, blazingly fast Bible API including many langauges
          and translations. Written in Rust, free, no limits.
        </p>
        <div class="flex gap-12">
          <a href="/api/docs"><Button>Docs</Button></a>
          <a href="/api"> <Button variant="secondary">Learn More</Button></a>
        </div>
      </div><div
        class="flex flex-col gap-24 border-b border-stroke p-48 max-[800px]:p-24"
      >
        <h2 class="text-h2">Design</h2>
        <p class="text-body leading-[220%]">
          A free, open-source, beautiful design system for Figma and React.
          Fully documented, and a package avaliable on npm.
        </p>
        <div class="flex gap-12">
          <a href="/design/docs"><Button>Docs</Button></a>
          <a href="/design"> <Button variant="secondary">Learn More</Button></a>
        </div>
      </div><div
        class="flex flex-col gap-24 border-r border-stroke p-48 max-[800px]:p-24 max-[800px]:pb-72"
      >
        <h2 class="text-h2">BibleJSON</h2>
        <p class="text-body leading-[220%]">
          1000+ translations of the Bible in JSON, with formatting included.
        </p>
        <div class="flex gap-12">
          <a href="/biblejson/docs"><Button>Docs</Button></a>
          <a href="/biblejson">
            <Button variant="secondary">Learn More</Button></a
          >
        </div>
      </div>
    </div>
  </section>
</MainLayout>
