---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bibleio">
  <main
    class="grid grid-cols-2 grid-rows-2 divide-x-[1] divide-y-[1] h-fit min-h-screen divide-black"
  >
    <div
      class="col-span-1 row-span-1 flex items-center justify-center flex-fol gap-32 px-64 py-64"
    >
      <h1 class="leading-none text-[13.2vw] font-lora font-normal">Bibleio</h1>
      <p class="text-body"></p>
    </div>
  </main>
</Layout>
