---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/sections/Landing";
import { Image } from "astro:assets";
import { Button } from "@bibleio/design";
import ProductCard from "../components/ui/ProductCard.astro";
---

<Layout title="Home - Bibleio">
  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    document.addEventListener("DOMContentLoaded", () => {
      gsap.from(".shape", {
        duration: 1.2,
        delay: 0.1,
        y: 100,
        opacity: 0,
        scale: 0.8,
        stagger: 0.05,
        ease: "power4.out",
      });
      gsap.from(".product", {
        duration: 1,
        scale: 0.75,
        opacity: 0,
        stagger: 0.05,
        ease: "power4.out",
        scrollTrigger: {
          trigger: "#products",
          start: "center bottom",
        },
      });
    });
  </script>
  <Landing client:load>
    <img
      src="/shapes/circle.svg"
      class="fill-light-blue stroke-1 stroke-light-stroke size-[23vmax] absolute bottom-[57%] left-[40%] max-[700px]:bottom-[80%] max-[450px]:left-[20%] shape"
    />
    <img
      src="/shapes/cross.svg"
      class="fill-light-yellow stroke-1 stroke-light-stroke size-[30vmax] absolute left-[50%] top-[50%] max-[700px]:top-[25%] max-[450px]:left-[30%] shape"
    />
    <img
      src="/shapes/bible.svg"
      class="fill-light-gray stroke-1 stroke-light-stroke size-[27vmax] absolute bottom-[50%] max-[700px]:bottom-[60%] max-[700px]:right-[75%] max-[450px]:right-[85%] shape"
    />
    <img
      src="/shapes/hexagon.svg"
      class="fill-light-purple stroke-1 stroke-light-stroke size-[29vmax] absolute top-[60%] left-[80%] shape"
    />
    <img
      src="/shapes/star.svg"
      class="fill-light-green stroke-1 stroke-light-stroke size-[27vmax] absolute bottom-[50%] left-[70%] max-[700px]:left-[85%] max-[700px]:bottom-[70%] shape"
    /></Landing
  >
  <div
    id="products"
    class="grid grid-cols-3 max-[1200px]:grid-cols-2 max-[950px]:grid-cols-1 p-32 max-[480px]:p-16 max-[480px]:gap-12 gap-24 border-b border-b-black"
  >
    <ProductCard
      title="Web App"
      description="A simple web app for viewing the Bible. In alpha."
    >
      <a href="https://app.bibleio.com">
        <Button variant="primary">Visit</Button>
      </a>
    </ProductCard>
    <ProductCard
      title="Design"
      description="The design system for Bibleio. With Figma and React components."
    >
      <a href="https://github.com/bibleio/design">
        <Button variant="primary">Use it</Button>
      </a>
    </ProductCard>
  </div>
  <div
    id="about"
    class="flex flex-col gap-24 items-center justify-center p-32 max-[480px]:p-16 max-[480px]:pt-64"
  >
    <h1 class="italic text-[128px] max-[460px]:text-[64px] leading-none">
      About
    </h1>
    <h4 class="text-h4 text-center">
      Bibleio is in alpha. Not feature complete.
    </h4>
    <div
      class="grid grid-cols-2 max-[870px]:grid-cols-1 w-[800px] max-[870px]:w-full gap-24"
    >
      <p class="text-body leading-[220%]">
        Bibleio is a ministry organization based on innovating the industry of
        Bible technology, with design, and modern features. We want the Bible to
        be accessible to everyone online, and that includes developers! We want
        to include accessability features, reading features, and more in the
        future.
      </p>
      <p class="text-body leading-[220%]">
        All of Bibleio’s products are free, open-source, licensed under GPL-3.
        We plan to write all of our backends in Rust. We prioritize design,
        security, privacy, and freedom. And we have so many plans for Bibleio,
        such as a mobile app, desktop app, Discord bot, CLI, testimony sharing,
        a free Bible API featuring major translations, and even more! View the
        full to-do list of ideas on Notion.
      </p>
    </div>
    <div class="flex gap-12 flex-wrap justify-center w-full">
      <a
        href="https://dukc.notion.site/Bibleio-781f29eb2433420d8dbd98feaa584237?pvs=74"
        target="_blank"
      >
        <Button variant="primary"> Notion </Button>
      </a>
      <a href="https://github.com/bibleio" target="_blank">
        <Button variant="secondary">GitHub</Button>
      </a>

      <a href="https://discord.gg/7eVCyQ5GGb" target="_blank">
        <Button variant="secondary">Discord </Button>
      </a>
    </div>
  </div></Layout
>
