---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Privacy & Terms - Bibleio">
  <section
    id="privacy"
    class="h-screen p-32 pb-64 max-[800px]:p-16 grid grid-cols-2 max-[800px]:grid-cols-1 gap-24 max-[800px]:gap-12"
  >
    <div
      class="flex flex-col justify-center gap-24 p-32 border border-light-stroke rounded-16"
    >
      <h1 class="text-[128px] max-[1200px]:text-[64px] leading-none italic">
        Privacy & Terms
      </h1>
      <p class="text-body leading-[220%]">
        All of Bibleio’s products are completely open-source, with no privacy or
        tracking concerns. If we decide to add account features, we will add
        privacy and terms, but remember, we will never collect or sell your
        data.
      </p>
    </div>
    <Image
      src="/blog/goob.jpg"
      class="w-full h-full object-cover rounded-16 border border-light-stroke"
      width={1920}
      height={1080}
      alt="Bibleio"
    />
  </section>
</Layout>
