---
import Layout from '../layouts/Layout.astro';
import {
  Button,
  Badge,
  // shapes
  Cross,
  Bible,
  Hexagon,
  Star,
  Circle,
  Triangle,
} from '@bibleio/design';
import { Image } from 'astro:assets';
---

<Layout title="Apps">
  <section id="main" class="flex flex-col px-256 max-[1550px]:px-0">
    <div
      id="container"
      class="flex flex-col gap-64 border-x border-stroke p-128 max-[680px]:px-16"
    >
      <code class="font-mono text-body text-text">README.md</code>
      <h1 class="font-mono text-h1 text-text"># About</h1>
      <p class="text-body leading-[220%] text-text">
        Bibleio is a Christian organization based on making innovative, modern
        free and open-source Bible technology / software.
      </p>
      <h1 class="font-mono text-h1 text-text"># Why</h1>
      <p class="text-body leading-[220%] text-text">
        The Bible industry is full of copyright, paid software and restrictions.
        The software we have is old, outdated, restricted or paid. The world
        needs modern, free use Bible and ministry technology.
      </p>
      <h1 class="font-mono text-h1 text-text"># Manifesto</h1>
      <p class="text-body leading-[220%] text-text">
        Jesus tells us in Matthew 10:8, “Freely you received; freely give.” And
        no big organization followed that. There is only one big monopoly, who
        has deals, and legal agreements with the big companies who distribute,
        and restrict God’s own word. Individual developers, trying to make a
        difference in Christian software can’t do anything, and have no access
        to Christian resources, or even the actual Bible in a major translation.
        Somewhere here and there, someone pops up to try and fix that. And
        here’s another one, Bibleio. Let’s build better Bible software, and
        unleash God’s word fully, even from the grasp of copyright. Let’s tell
        off the big companies who restrict God’s word through copyright and
        license fees, and let’s let God enpower us through this journey. Let’s
        build tools where anyone can access God’s word, and personalize it, and
        grow with it. Let’s give churches and communities tools to build their
        online presnce so they aren’t stuck with the crappy paid tools, and no
        professional to help them with social media, branding, audio, etc. Here
        we go again, another person saying they’re gonna change the world. This
        time we’re gonna do it.
      </p>
      <h1 class="font-mono text-h1 text-text"># Team</h1>
      <div class="grid grid-cols-2 max-[680px]:grid-cols-1">
        <div
          class="flex flex-col gap-16 rounded-12 border border-stroke bg-fg-1 p-32"
        >
          <a
            href="https://dukc.dev"
            class="group flex items-center gap-12 duration-150 ease-out hover:text-accent-reversed"
          >
            <img
              src="/public/pfps/dukc.png"
              alt="dukc pfp"
              class="size-48 rounded-full"
            />
            <h3
              class="text-h3 text-text duration-150 ease-out group-hover:text-accent-reversed"
            >
              Jacob Ehlert "dukc"
            </h3>
            <svg
              width="1.5rem"
              height="1.5rem"
              viewBox="0 0 24 24"
              fill="none"
              stroke-opacity="0.9"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              xmlns="http://www.w3.org/2000/svg"
              class="stroke-text duration-150 ease-out group-hover:rotate-45 group-hover:text-accent-reversed"
            >
              <path d="M17 7L7 17M17 7H8M17 7V16"> </path>
            </svg>
          </a>
          <p class="text-sub text-text">Founder</p>
          <p class="text-body text-text">
            “guy who loves Jesus and making things”
          </p>
        </div>
      </div>
      <h2 class="font-mono text-h2 text-text">## Open source contributors</h2>
      <p class="font-mono text-body text-red-reversed">
        Error: returned undefined
      </p>
      <a
        href="https://cat-skate-e91.notion.site/Onboarding-132aafe2ea3c800ab45ddbe0a5db3da8?pvs=4"
      >
        <Button>Join us or contribute</Button>
      </a>
    </div>
  </section>
</Layout>
