---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Why Believe? - Bibleio">
  <div class="flex h-screen p-32 flex-col justify-center">
    <h1 class="text-[21vw] leading-none w-screen whitespace-normal">
      Why<br />Believe?
    </h1>
    <p class="body leading-none">
      Why believe in a God, or that Jesus is God? (FULL PAGE COMING SOON)
    </p>
    <Image
      class="absolute -z-10 w-[80vw] h-[80vh] blur-[256px]"
      src="/blob.svg"
      width={1372.71}
      height={1234.27}
      alt=""
    />
  </div>
</Layout>
