---
import { getCollection, type CollectionEntry } from "astro:content";
import { Prose } from "@bibleio/design";
import DocsLayout from "~/layouts/DocsLayout.astro";
import MainLayout from "~/layouts/MainLayout.astro";

const apiDocs = await getCollection("api");

export async function getStaticPaths() {
	const apiDocs = await getCollection("api");
	return apiDocs.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <DocsLayout docs={apiDocs} projectSlug="api">
    <Prose>
      <h1 class="text-h1">{entry.data.title}</h1>
      <Content /></Prose
    >
  </DocsLayout>
</MainLayout>
