---
import "@/styles/global.css";
import "@fontsource/lora/400.css";
import "@fontsource/lora/500.css";
import "@fontsource/lora/600.css";
import "@fontsource/lora/700.css";
import "@fontsource/lora/400-italic.css";
import "@fontsource/lora/500-italic.css";
import "@fontsource/lora/600-italic.css";
import "@fontsource/lora/700-italic.css";

import { Nav } from "@/components/Nav.tsx";
import { Footer } from "@bibleio/design";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title} - Bibleio</title>
  </head>
  <body class="overflow-x-hidden bg-bg-1 font-serif">
    <Nav path={Astro.url.pathname} client:load />
    <slot />
    <Footer devHrefTargetOutside />
  </body>
</html>
