---
import MainLayout from '@layouts/MainLayout.astro';
import { Button, Badge } from '@bibleio/design';
---

<MainLayout title="Home"
  ><script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    document.addEventListener('DOMContentLoaded', () => {
      gsap.from('.text-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.7,
        stagger: 0.05,
        ease: 'power4.out',
      });
      gsap.from('.blob-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.4,
        ease: 'power4.out',
      });
    });
  </script>
  <section
    id="landing"
    class="flex h-[93vh] flex-col items-end justify-center gap-48 overflow-clip px-256 py-32"
  >
    <div class="flex flex-col items-end gap-0">
      <h1 class="text-animate text-center text-[128px] leading-none">
        Bibleio
      </h1>
      <h1 class="text-animate text-center text-[192px] leading-none">API</h1>
    </div>
    <p class="text-animate text-center text-body leading-none">
      Our free, fast, accessible Bible API with many translations.
    </p>
    <Badge variant="purple">Major translations coming soon</Badge>
    <div
      class="blob-animate absolute -z-50 h-[75vh] w-[40vw] animate-spin-slow rounded-full bg-blue blur-[9vmin]"
    >
    </div>
  </section>
  <section id="products" class="border-t border-stroke px-256">
    <div class="grid grid-rows-5 divide-y divide-stroke border-x border-stroke">
      <div class="flex flex-col gap-24 p-48">
        <h2 class="text-h1">Thousands of translations</h2>
        <p class="text-body leading-[220%]">In many langauges.</p>
      </div>
      <div class="flex flex-col gap-24 p-48">
        <h2 class="text-h1">BibleJSON</h2>
        <p class="text-body leading-[220%]">
          All of the content is served using the BibleJSON formatting standard.
          It includes useful metadata, and all the original text formatting such
          as headers, red lettering, etc.
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48">
        <h2 class="text-h1">Fast</h2>
        <p class="text-body leading-[220%]">It’s written in Rust btw.</p>
      </div>
      <div class="flex flex-col gap-24 p-48">
        <h2 class="text-h1">Freely hosted & open source</h2>
        <p class="text-body leading-[220%]">
          No API key, no rate limits, no tracking, all free & open-source.
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48">
        <h2 class="text-h1">Did we mention?</h2>
        <p class="text-body leading-[220%]">It's written in Rust! Yay!!</p>
        <div class="flex gap-12">
          <a href="https://github.com/bibleio/api"><Button>GitHub</Button></a>
          <a href="/api/docs"><Button variant="secondary">Docs</Button></a>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
