---
import { Image } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import { IconArrowUpRight, IconBookmarks } from "@tabler/icons-react";
import { WarningNote } from "@bibleio/design";
---

<Layout>
  <section id="main" class="flex h-screen flex-col items-center pt-72">
    <div
      id="container"
      class="flex h-full w-full max-w-[64rem] flex-col gap-24"
    >
      Bible
    </div>
  </section>
</Layout>
