@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-serif: Lora, Georgia, Cambria, Times New Roman, ui-serif, serif;
	--font-mono: JetBrains Mono, ui-monospace, monospace;

	--text-sub: 0.75rem;
	--text-mono: 0.875rem;
	--text-body: 0.9375rem;
	--text-h4: 1.1875rem;
	--text-h3: 1.5625rem;
	--text-h2: 2rem;
	--text-h1: 3.125rem;

	--shadow-colored-component:
		0px 3px 4.7px 0px var(--color-inner-shadow-1) inset, 0px -3px 11px 1px var(
			--color-inner-shadow-2
		) inset, 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
	--shadow-material-component: 0px -2px 12px 0px var(--color-inner-shadow-2)
		inset, 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
	--shadow-popup: 0px 4px 49.6px 0px rgba(0, 0, 0, 0.09);

	--animate-scale-in: scale-in 150ms ease-out;
	--animate-scale-out: scale-out 150ms ease-out;
	--animate-fade-in: fade-in 150ms ease-out;
	--animate-fade-out: fade-out 150ms ease-out;
	--animate-caret-blink: caret-blink 1.2s ease-out infinite;
	--animate-spin: spin 1s linear infinite;
	--animate-scroll-x: scroll-x 33s linear infinite;
	--animate-scroll-y: scroll-y 33s linear infinite;
	--animate-spin-slow: spin 15s linear infinite;

	--blur-popup: 18px;

	/* materials */
	--color-bg-1: #cccccc;
	--color-fg-1: #d4d4d4bf;
	--color-fg-2: #dddddd;
	--color-stroke: #00000054;
	--color-text: #050505e6;
	--color-text-solid: #000000;
	--color-text-subtle: #00000054;
	--color-text-reversed: #f3f3f3e6;
	--color-text-reversed-solid: #ffffff;
	--color-text-reversed-subtle: #dedede54;
	--color-inner-shadow-1: #ffffff0d;
	--color-inner-shadow-2: #0000000f;
	/* colors */
	--color-accent: #1eaeff;
	--color-red: #f45252;
	--color-orange: #f48b52;
	--color-yellow: #fcd05f;
	--color-lime: #a4d94e;
	--color-green: #4ed97d;
	--color-teal: #00bdd2;
	--color-blue: #1eaeff;
	--color-purple: #ac85f1;
	--color-pink: #f185e6;
	--color-gray: #eeeeee;
	/* reversed colors */
	--color-accent-reversed: #006197;
	--color-red-reversed: #802525;
	--color-orange-reversed: #804425;
	--color-yellow-reversed: #8d7820;
	--color-lime-reversed: #5f8226;
	--color-green-reversed: #268245;
	--color-teal-reversed: #00707c;
	--color-blue-reversed: #006197;
	--color-purple-reversed: #4930a5;
	--color-pink-reversed: #a53099;
	--color-gray-reversed: #5f5f5f;

	--spacing-256: 256px;
	--spacing-200: 200px;
	--spacing-128: 128px;
	--spacing-110: 110px;
	--spacing-96: 96px;
	--spacing-86: 86px;
	--spacing-72: 72px;
	--spacing-64: 64px;
	--spacing-56: 56px;
	--spacing-48: 48px;
	--spacing-36: 36px;
	--spacing-32: 32px;
	--spacing-30: 30px;
	--spacing-28: 28px;
	--spacing-24: 24px;
	--spacing-20: 20px;
	--spacing-18: 18px;
	--spacing-16: 16px;
	--spacing-14: 14px;
	--spacing-12: 12px;
	--spacing-10: 10px;
	--spacing-8: 8px;
	--spacing-6: 6px;
	--spacing-4: 4px;
	--spacing-2: 2px;
	--spacing-0: 0px;

	--radius-4: 0.25rem;
	--radius-8: 0.5rem;
	--radius-12: 0.75rem;
	--radius-16: 1rem;
	--radius-24: 1.5rem;
	--radius-32: 2rem;
	--radius-full: 999rem;
}

/* ----------------- dark mode variant of the colors above ----------------- */
[class="dark"] {
	/* materials */
	--color-bg-1: #1b1b1b;
	--color-fg-1: #242424cc;
	--color-fg-2: #262626;
	--color-stroke: #ffffff1a;
	--color-text: #f3f3f3e6;
	--color-text-solid: #ffffff;
	--color-text-subtle: #dedede54;
	--color-text-reversed: #000000e6;
	--color-text-reversed-solid: #000000;
	--color-text-reversed-subtle: #000000e6;
	--color-inner-shadow-1: #ffffff08;
	--color-inner-shadow-2: #00000026;
	/* colors */
	--color-accent: #006197;
	--color-red: #802525;
	--color-orange: #804425;
	--color-yellow: #8d7820;
	--color-lime: #5f8226;
	--color-green: #268245;
	--color-teal: #00707c;
	--color-blue: #006197;
	--color-purple: #4930a5;
	--color-pink: #a53099;
	--color-gray: #5f5f5f;
	/* reversed colors */
	--color-accent-reversed: #1eaeff;
	--color-red-reversed: #f45252;
	--color-orange-reversed: #f48b52;
	--color-yellow-reversed: #fcd05f;
	--color-lime-reversed: #a4d94e;
	--color-green-reversed: #4ed97d;
	--color-teal-reversed: #00bdd2;
	--color-blue-reversed: #1eaeff;
	--color-purple-reversed: #ac85f1;
	--color-pink-reversed: #f185e6;
	--color-gray-reversed: #eeeeee;
}

.hover-color {
	@apply duration-150 ease-out hover:text-accent-reversed active:text-text;
}
.hover-transform {
	@apply duration-150 ease-out hover:-translate-y-2 active:translate-y-2;
}

button,
a {
	cursor: pointer;
}

button:disabled,
a:disabled {
	cursor: not-allowed;
}

::selection {
	background: var(--color-accent-reversed);
	color: var(--color-text-reversed-solid);
}

/* Animation keyframes */

@keyframes scale-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scale-out {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.95);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes spin {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

@keyframes scroll-x {
	from {
		transform: translateX(0%);
	}
	to {
		rotate: translateX(100%);
	}
}

@keyframes scroll-y {
	from {
		transform: translateY(0%);
	}
	to {
		rotate: translateY(100%);
	}
}

@keyframes caret-blink {
	0%,
	70%,
	100% {
		opacity: 1;
	}
	20%,
	50% {
		opacity: 0;
	}
}
