---
import { Image } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import {
  IconArrowUpRight,
  IconBookmarks,
  IconSettings,
} from "@tabler/icons-react";
import { WarningNote } from "@bibleio/design";
---

<Layout title="Home">
  <section id="main" class="flex h-screen flex-col items-center pt-72">
    <div
      id="container"
      class="flex h-full w-full max-w-[64rem] flex-col gap-24 px-12"
    >
      <WarningNote
        >Use with caution, Bibleio is still in development.</WarningNote
      >

      <h1 class="text-h1 motion-preset-slide-up-md leading-none">
        Welcome to your new Bible
      </h1>
      <p class="text-body motion-preset-fade-lg motion-delay-100">
        This is our Bible web app, still in development stages.
      </p>
      <section
        class="border-stroke rounded-28 motion-preset-fade-lg motion-delay-150 grid h-[16rem] grid-cols-2 gap-8 border p-8 max-[500px]:h-fit max-[500px]:grid-cols-1"
      >
        <a
          href="/bible"
          class="bg-fg-1 border-stroke rounded-20 hover:border-accent-reversed group flex items-end justify-between border p-16 duration-150 ease-out"
        >
          <div class="flex flex-col gap-8">
            <Image
              class="border-stroke rounded-20 border"
              src="/appicon.png"
              width={64}
              height={64}
              alt="bibleio app icon"
            />
            <h3 class="text-h3">Your Bible</h3>
          </div>
          <IconArrowUpRight
            className="text-text group-hover:text-accent-reversed duration-150 ease-out group-hover:rotate-45"
            stroke={1.5}
          />
        </a>

        <a
          href="/settings"
          class="bg-fg-1 border-stroke rounded-20 hover:border-accent-reversed group flex items-end justify-between border p-16 duration-150 ease-out"
        >
          <div class="flex flex-col gap-8">
            <IconSettings className="text-text size-48" stroke={1.5} />
            <h3 class="text-h3">Settings</h3>
          </div>
          <IconArrowUpRight
            className="text-text group-hover:text-accent-reversed duration-150 ease-out group-hover:rotate-45"
            stroke={1.5}
          />
        </a>
      </section>
    </div>
  </section>
  <div
    class="bg-accent absolute bottom-[-10%] left-1/2 h-[10rem] w-[50rem] -translate-x-1/2 rounded-full blur-[10vmin] z-[-50]"
  >
  </div>
</Layout>
