---
const { name, link, linkTitle } = Astro.props;
---

<div class="flex flex-wrap items-center gap-8">
  <p class="text-body text-text whitespace-nowrap">{name}</p>
  <a
    href={link}
    target="_blank"
    class="bg-fg-1 backdrop-blur-popup border-stroke text-text rounded-12 hover:border-accent-reversed border px-12 py-8 duration-150 ease-out"
  >
    {linkTitle}
  </a>
</div>
