@layer base {
  :root {
    --bg-1: 0, 0, 0;
    --fg-1: 0, 0, 0;
    --fg-2: 0, 0, 0;
    --fg-3: 0, 0, 0;
    --text: 0, 0, 0;
    --text-solid: 0, 0, 0;
    --text-subtle: 0, 0, 0;
    --text-reversed: 0, 0, 0;
    --text-reversed-solid: 0, 0, 0;
    --text-reversed-subtle: 0, 0, 0;
    --stroke: 0, 0, 0;
    --stroke-subtle: 0, 0, 0;
    --accent: 0, 0, 0;
    --accent-reversed: 0, 0, 0;
    --red: 68, 100, 24;
    --yellow: 0, 0, 0;
    --green: 0, 0, 0;
    --blue: 0, 0, 0;
    --purple: 0, 0, 0;
    --gray: 0, 0, 0;
  }
  [class='dark'] {
    --bg-1: 0, 0, 0;
    --fg-1: 0, 0, 0;
    --fg-2: 0, 0, 0;
    --fg-3: 0, 0, 0;
    --text: 0, 0, 0;
    --text-solid: 0, 0, 0;
    --text-subtle: 0, 0, 0;
    --text-reversed: 0, 0, 0;
    --text-reversed-solid: 0, 0, 0;
    --text-reversed-subtle: 0, 0, 0;
    --stroke: 0, 0, 0;
    --stroke-subtle: 0, 0, 0;
    --accent: 0, 0, 0;
    --accent-reversed: 0, 0, 0;
    --red: 75, 200, 127;
    --yellow: 0, 0, 0;
    --green: 0, 0, 0;
    --blue: 0, 0, 0;
    --purple: 0, 0, 0;
    --gray: 0, 0, 0;
  }
}
