---
import { getCollection } from "astro:content";
import { Prose } from "@bibleio/design";
import DocsLayout from "@/layouts/DocsLayout.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const bibleJsonDocs = await getCollection("biblejson");

export async function getStaticPaths() {
	const bibleJsonDocs = await getCollection("biblejson");
	return bibleJsonDocs.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <DocsLayout docs={bibleJsonDocs} projectSlug="biblejson">
    <Prose>
      <h1 class="text-h1">{entry.data.title}</h1>
      <Content /></Prose
    >
  </DocsLayout>
</MainLayout>
