---
import '@fontsource/lora/400-italic.css';
import '@fontsource/lora/400.css';
import '@fontsource/lora/500.css';
import '@fontsource/lora/600.css';
import '@fontsource/lora/700.css';
import '@bibleio/design/dist/index.css';

import { Nav } from '@/Nav';
import { Footer } from '@/Footer';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Bibleio</title>
  </head>
  <body class="overflow-x-hidden bg font-serif">
    <Nav path={Astro.url.pathname} client:load />
    <slot />
    <Footer client:only="react" />
  </body>
</html>
