---
import "@fontsource/lora";
import "../styles/base.css";

import Nav from "../components/Nav.tsx";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body
    class="bg-light-bg text-body text-black font-lora overflow-x-hidden flex flex-col gap-0 p-0"
  >
    <Nav path={Astro.url.pathname} client:load />
    <slot />
  </body>
</html>
