---
import { Button } from "@bibleio/design";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Home"
  ><script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    document.addEventListener('DOMContentLoaded', () => {
      gsap.from('.text-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.7,
        stagger: 0.05,
        ease: 'power4.out',
      });
      gsap.from('.blob-animate', {
        duration: 1.2,
        delay: 0.1,
        y: 50,
        opacity: 0,
        scale: 0.4,
        ease: 'power4.out',
      });
    });
  </script>
  <section
    id="landing"
    class="flex h-[93vh] flex-col items-start justify-center gap-48 overflow-clip px-256 py-24 max-[1000px]:px-32"
  >
    <div class="flex flex-col items-start gap-0">
      <h1
        class="text-animate text-left text-[8rem] leading-none max-[680px]:text-[4rem]"
      >
        Bibleio
      </h1>
      <h1
        class="text-animate text-left text-[12rem] leading-none max-[680px]:text-[6rem]"
      >
        Design
      </h1>
    </div>
    <p class="text-animate text-left text-body leading-[200%]">
      Our beautiful and modern design system for Figma and React.
    </p>
    <a href="/design/docs"><Button>Docs</Button></a>
    <div
      class="blob-animate absolute -z-50 h-[45vw] w-[40vw] animate-spin-slow rounded-full bg-blue blur-[9vmin]"
    >
    </div>
  </section>
  <section
    id="products"
    class="border-t border-stroke px-256 max-[1300px]:px-0"
  >
    <div class="grid grid-rows-5 divide-y divide-stroke border-x border-stroke">
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24">
        <h2 class="text-h1">Beautiful</h2>
        <p class="text-body leading-[220%]">
          Look at this website. Isn't it pretty?
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24">
        <h2 class="text-h1">Figma & React</h2>
        <p class="text-body leading-[220%]">
          All components and variables are avaliable freely inside this <a
            href="https://www.figma.com/community/file/1398417551065522372/bibleio-design-kit"
            class="text-accent-reversed">Figma file</a
          >. All components and styles are avaliable in a React <a
            href="https://www.npmjs.com/package/@bibleio/design"
            class="text-accent-reversed">npm package</a
          >.
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24">
        <h2 class="text-h1">Accessible</h2>
        <p class="text-body leading-[220%]">
          Built with the best React primitives. Mainly Radix.
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24">
        <h2 class="text-h1">Documented</h2>
        <p class="text-body leading-[220%]">
          Guidelines for color, typography, etc. all are documented in Figma and <a
            href="/design/docs"
            class="text-accent-reversed">on this website</a
          >. Each React component is documented and provides link to the
          original primitive.
        </p>
      </div>
      <div class="flex flex-col gap-24 p-48 max-[800px]:p-24 max-[800px]:pb-72">
        <h2 class="text-h1">Free & open-source</h2>
        <div class="flex gap-12">
          <a href="https://github.com/bibleio/design"><Button>GitHub</Button></a
          >
          <a href="https://www.npmjs.com/package/@bibleio/design"
            ><Button>npm</Button></a
          >
          <a href="/design/docs"><Button variant="secondary">Docs</Button></a>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
