<!-- have to add this because some color css variables aren't being loaded on light mode for some reason, this fixes it
    not sure if it's a bug with tailwind or something
-->
<div id="colorLoader" class="hidden">
  <div class="bg-red"></div>
  <div class="bg-orange"></div>
  <div class="bg-yellow"></div>
  <div class="bg-lime"></div>
  <div class="bg-green"></div>
  <div class="bg-teal"></div>
  <div class="bg-blue"></div>
  <div class="bg-purple"></div>
  <div class="bg-gray"></div>
  <div class="bg-accent"></div>
</div>
